# General Variables
PORT=<PORT_NUMBER> # The port your NestJS application will run on. e.g. 3000

# JWT Configuration
JWT_SECRET=<JWT_SECRET>
JWT_EXPIRES_IN=24h

# Database Configuration
DATABASE_URL=postgresql://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>
DIRECT_URL=postgresql://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>
POSTGRES_USER=<DB_USER>
POSTGRES_PASSWORD=<DB_PASSWORD>
POSTGRES_DB=<DB_NAME>
DB_PORT=<DB_PORT>